---
http_interactions:
- request:
    method: get
    uri: https://testnets-api.opensea.io/asset/0x88B48F654c30e99bc2e4A1559b4Dcf1aD93FA656/2311777711455776243141183398852532457844153089003796399814364866449093165057/?account_address=0x051c6b791044102ae773e27fea21480ed6d653f4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, OPTIONS
      X-Trace-Id:
      - '5993716862154631763'
    body:
      encoding: ASCII-8BIT
      string: '{"id":25543575,"token_id":"2311777711455776243141183398852532457844153089003796399814364866449093165057","num_sales":0,"background_color":null,"image_url":"https://lh3.googleusercontent.com/GZqqlICo3TvS84_VV3Cw9q4WpBn-XeB6KglpI46fnFSHDlC029VkPXqWuSx5VcWUBgLpMs0C2kZk7aiMgzZI-hxs7B5O7c1hNmrlmg","image_preview_url":"https://lh3.googleusercontent.com/GZqqlICo3TvS84_VV3Cw9q4WpBn-XeB6KglpI46fnFSHDlC029VkPXqWuSx5VcWUBgLpMs0C2kZk7aiMgzZI-hxs7B5O7c1hNmrlmg=s250","image_thumbnail_url":"https://lh3.googleusercontent.com/GZqqlICo3TvS84_VV3Cw9q4WpBn-XeB6KglpI46fnFSHDlC029VkPXqWuSx5VcWUBgLpMs0C2kZk7aiMgzZI-hxs7B5O7c1hNmrlmg=s128","image_original_url":null,"animation_url":null,"animation_original_url":null,"name":"Test
        Logo 1","description":"Imagine that!","external_link":null,"asset_contract":{"address":"0x88b48f654c30e99bc2e4a1559b4dcf1ad93fa656","asset_contract_type":"semi-fungible","created_date":"2021-05-17T18:22:26.262750","name":"OpenSea
        Collections","nft_version":null,"opensea_version":"2.1.0","owner":676,"schema_name":"ERC1155","symbol":"OPENSTORE","total_supply":null,"description":null,"external_link":null,"image_url":null,"default_to_fiat":false,"dev_buyer_fee_basis_points":0,"dev_seller_fee_basis_points":0,"only_proxied_transfers":false,"opensea_buyer_fee_basis_points":0,"opensea_seller_fee_basis_points":250,"buyer_fee_basis_points":0,"seller_fee_basis_points":250,"payout_address":null},"permalink":"https://testnets.opensea.io/assets/0x88b48f654c30e99bc2e4a1559b4dcf1ad93fa656/2311777711455776243141183398852532457844153089003796399814364866449093165057","collection":{"payment_tokens":[{"id":1856879,"symbol":null,"address":"0xc778417e063141139fce010982780140aa0cd5ab","image_url":"","name":null,"decimals":18,"eth_price":null,"usd_price":null},{"id":1857042,"symbol":null,"address":"0xc778417e063141139fce010982780140aa0cd5ab","image_url":"","name":null,"decimals":18,"eth_price":null,"usd_price":null},{"id":382494,"symbol":"ETH","address":"0x0000000000000000000000000000000000000000","image_url":"https://storage.opensea.io/files/6f8e2979d428180222796ff4a33ab929.svg","name":null,"decimals":18,"eth_price":1.0,"usd_price":405.65},{"id":180476,"symbol":"WETH","address":"0xc778417e063141139fce010982780140aa0cd5ab","image_url":"https://storage.opensea.io/files/accae6b6fb3888cbff27a013729c22dc.svg","name":"","decimals":18,"eth_price":1.0,"usd_price":3718.12}],"primary_asset_contracts":[],"traits":{},"stats":{"one_day_volume":0.0,"one_day_change":0.0,"one_day_sales":0.0,"one_day_average_price":0.0,"seven_day_volume":0.0,"seven_day_change":0.0,"seven_day_sales":0.0,"seven_day_average_price":0.0,"thirty_day_volume":0.0,"thirty_day_change":0.0,"thirty_day_sales":0.0,"thirty_day_average_price":0.0,"total_volume":0.0,"total_sales":0.0,"total_supply":1.0,"count":1.0,"num_owners":1,"average_price":0.0,"num_reports":0,"market_cap":0.0,"floor_price":0},"banner_image_url":null,"chat_url":null,"created_date":"2021-12-30T13:49:00.142375","default_to_fiat":false,"description":"","dev_buyer_fee_basis_points":"0","dev_seller_fee_basis_points":"500","discord_url":null,"display_data":{"card_display_style":"padded"},"external_url":null,"featured":false,"featured_image_url":null,"hidden":true,"safelist_request_status":"not_requested","image_url":"https://lh3.googleusercontent.com/eRoplxExtdM8V8RPEemsgxOzn9AS2X484UXg4BLL95MGiTTTBEnOBc3iFDYfstSYqSWNo_Aw3uOW-rQhbJz-PN0GRzTKFnL2XewW0w=s120","is_subject_to_whitelist":false,"large_image_url":null,"medium_username":null,"name":"Test
        Prota Collection","only_proxied_transfers":false,"opensea_buyer_fee_basis_points":"0","opensea_seller_fee_basis_points":"250","payout_address":"0x051c6b791044102ae773e27fea21480ed6d653f4","require_email":false,"short_description":null,"slug":"untitled-collection-4919696","telegram_url":null,"twitter_username":null,"instagram_username":null,"wiki_url":null},"decimals":null,"token_metadata":null,"owner":{"user":{"username":"NullAddress"},"profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/1.png","address":"0x0000000000000000000000000000000000000000","config":""},"sell_orders":null,"creator":{"user":{"username":null},"profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/18.png","address":"0x051c6b791044102ae773e27fea21480ed6d653f4","config":""},"traits":[],"last_sale":null,"top_bid":null,"listing_date":null,"is_presale":true,"transfer_fee_payment_token":null,"transfer_fee":null,"related_assets":[],"orders":[],"auctions":[],"supports_wyvern":true,"top_ownerships":[{"owner":{"user":{"username":null},"profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/18.png","address":"0x051c6b791044102ae773e27fea21480ed6d653f4","config":""},"quantity":"1"}],"ownership":{"owner":{"user":{"username":null},"profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/18.png","address":"0x051c6b791044102ae773e27fea21480ed6d653f4","config":""},"quantity":"1"},"highest_buyer_commitment":null}'
  recorded_at: Thu, 30 Dec 2021 18:09:33 GMT
recorded_with: VCR 6.0.0
