---
http_interactions:
- request:
    method: get
    uri: https://testnets-api.opensea.io/assets?collection=untitled-collection-4919696&owner=0x051c6B791044102Ae773e27FEA21480ed6D653F4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, OPTIONS
      X-Trace-Id:
      - '535584857257115508'
    body:
      encoding: ASCII-8BIT
      string: '{"assets":[{"id":25615178,"token_id":"2311777711455776243141183398852532457844153089003796399814364869747628048385","num_sales":0,"background_color":null,"image_url":"https://lh3.googleusercontent.com/zzfhJbLyvMOvKtmFtVFjDVEyNsemL7VPve20AwPs4_l_HTrjszKtpz3XlPKai41XW9wZ9l69HVqvzKCvwlwlbUKS0LIhPP_x2c24MUg","image_preview_url":"https://lh3.googleusercontent.com/zzfhJbLyvMOvKtmFtVFjDVEyNsemL7VPve20AwPs4_l_HTrjszKtpz3XlPKai41XW9wZ9l69HVqvzKCvwlwlbUKS0LIhPP_x2c24MUg=s250","image_thumbnail_url":"https://lh3.googleusercontent.com/zzfhJbLyvMOvKtmFtVFjDVEyNsemL7VPve20AwPs4_l_HTrjszKtpz3XlPKai41XW9wZ9l69HVqvzKCvwlwlbUKS0LIhPP_x2c24MUg=s128","image_original_url":null,"animation_url":null,"animation_original_url":null,"name":"mysterious
        sketch","description":null,"external_link":null,"asset_contract":{"address":"0x88b48f654c30e99bc2e4a1559b4dcf1ad93fa656","asset_contract_type":"semi-fungible","created_date":"2021-05-17T18:22:26.262750","name":"OpenSea
        Collections","nft_version":null,"opensea_version":"2.1.0","owner":676,"schema_name":"ERC1155","symbol":"OPENSTORE","total_supply":null,"description":null,"external_link":null,"image_url":null,"default_to_fiat":false,"dev_buyer_fee_basis_points":0,"dev_seller_fee_basis_points":0,"only_proxied_transfers":false,"opensea_buyer_fee_basis_points":0,"opensea_seller_fee_basis_points":250,"buyer_fee_basis_points":0,"seller_fee_basis_points":250,"payout_address":null},"permalink":"https://testnets.opensea.io/assets/0x88b48f654c30e99bc2e4a1559b4dcf1ad93fa656/2311777711455776243141183398852532457844153089003796399814364869747628048385","collection":{"banner_image_url":null,"chat_url":null,"created_date":"2021-12-30T13:49:00.142375","default_to_fiat":false,"description":"","dev_buyer_fee_basis_points":"0","dev_seller_fee_basis_points":"500","discord_url":null,"display_data":{"card_display_style":"padded"},"external_url":null,"featured":false,"featured_image_url":null,"hidden":true,"safelist_request_status":"not_requested","image_url":"https://lh3.googleusercontent.com/eRoplxExtdM8V8RPEemsgxOzn9AS2X484UXg4BLL95MGiTTTBEnOBc3iFDYfstSYqSWNo_Aw3uOW-rQhbJz-PN0GRzTKFnL2XewW0w=s120","is_subject_to_whitelist":false,"large_image_url":null,"medium_username":null,"name":"Test
        Prota Collection","only_proxied_transfers":false,"opensea_buyer_fee_basis_points":"0","opensea_seller_fee_basis_points":"250","payout_address":"0x051c6b791044102ae773e27fea21480ed6d653f4","require_email":false,"short_description":null,"slug":"untitled-collection-4919696","telegram_url":null,"twitter_username":null,"instagram_username":null,"wiki_url":null},"decimals":null,"token_metadata":null,"owner":{"user":{"username":"NullAddress"},"profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/1.png","address":"0x0000000000000000000000000000000000000000","config":""},"sell_orders":null,"creator":{"user":{"username":null},"profile_img_url":"https://storage.googleapis.com/opensea-static/opensea-profile/18.png","address":"0x051c6b791044102ae773e27fea21480ed6d653f4","config":""},"traits":[],"last_sale":null,"top_bid":null,"listing_date":null,"is_presale":true,"transfer_fee_payment_token":null,"transfer_fee":null},{"id":25614956,"token_id":"2311777711455776243141183398852532457844153089003796399814364868648116420609","num_sales":0,"background_color":null,"image_url":"https://lh3.googleusercontent.com/Jsauk8_oee_Z0J7C6DjJaHL4Sowy4TRRkbQvCB-tOulU84jSgp-jjCy9uiWI5O_6l8VZmgYjpqNMKdWfEqOa5Efrmztgi_s152rlpA","image_preview_url":"https://lh3.googleusercontent.com/Jsauk8_oee_Z0J7C6DjJaHL4Sowy4TRRkbQvCB-tOulU84jSgp-jjCy9uiWI5O_6l8VZmgYjpqNMKdWfEqOa5Efrmztgi_s152rlpA=s250","image_thumbnail_url":"https://lh3.g[...]
